@page "/TryPage"
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@ToggleOpen">Open</MudButton>
<br>
<MudSwitch @bind-Checked="@_isOpen" Color="Color.Primary" />
<br>
<MudToggleIconButton @bind-Toggled="@_isOpen" Icon="@Icons.Filled.Fullscreen" Color="@Color.Primary" ToggledIcon="@Icons.Filled.FullscreenExit" ToggledColor="@Color.Secondary" />
<MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@checkans">check</MudButton>


<p>"@msg"</p>


@code{
    public bool _isOpen = false;
    string msg = "";

    public void ToggleOpen()
    {
        if (_isOpen)
            _isOpen = false;
        else
            _isOpen = true;
    }
    public void checkans()
    {
        if (_isOpen== false) {
            msg = "לא נכון";
        }
        else
        {
            msg = " נכון";
        }
    }

}
